.list-wrapper{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: lawngreen;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    margin-top: 10px;
}